<%= nested_form_for [@category, @listing], :html =>{ :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description, :rows => 6 %>
  </p>
  <p>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>
   <p>
    <%= f.label :price %><br>
    $<%= f.text_field :price %>
  </p>
   <p>
    <%= f.label :contact %><br>
    <%= f.text_field :contact %>
  </p>

<p>
  <%= f.fields_for :images do |image_form| %>
    <p>
    <%= image_form.label :file, "File" %><br />
    <%= image_form.file_field :file %>
  </p>
  <%= image_form.link_to_remove "Remove this photo" %>
  <% end %>
  <%= f.link_to_add "Add a photo", :images %></br >
</p>

  <%= f.submit %>
<% end %>
