<div id='listing'>
  <h2><%= title(@category.name, "Categories") %></h2>
  <h2><%= @category.name %></h2>
  <h3><%= @listing.title %></h3>
  <h4><%= @listing.description %></h4>
    <p> Location: <%= @listing.location  %></p>
    <p> $
  <%= @listing.price %>0</p>
  <%= @listing.contact %>
  <%= @listing.pics %>
  <h2><%= title(@listing.title, "Listings") %></h2>
  <%= link_to "New Listing", new_category_listing_path(@category) %>
  <%= link_to "Edit Listing", [:edit, @category, @listing] %>
  <%= link_to "Delete Listing", [@category, @listing],
      :method => :delete,
      :confirm => "Are you sure you want to delete this category?" %>
</div>
