<div class="navbar">
  <div class="container">
    <a class="brand pull-left" href="/">GearSwap</a>
    <div class ="valprop pull-left">
      Buy, Sell and Swap Musical Instruments and Gear
    </div >
      <ul class="nav pull-right">
        <% admins_only do %>
          <div class="btn btn-mini">
            <%= link_to "Admin lounge", admin_root_path %>
          </div>
        <% end %>
        <% if user_signed_in? %>
          <div class="btn btn-mini">
            <%= link_to 'Sign out', destroy_user_session_path, :method => :delete  %>
          </div>

            Signed in as
              <% if current_user.username.blank? %>
                <%= current_user.email %>
              <% else %>
                <%= current_user.username %>
              <% end %>
        <% else %>
          <div class="btn btn-mini">
            <%= link_to "Sign up", new_user_registration_path %>
          </div>
          <div class="btn btn-mini">
            <%= link_to "Sign in", new_user_session_path  %>
          </div>
          <br>
            Or use <%= link_to image_tag("twitter_32.png"),  user_omniauth_authorize_path(:twitter),
                :id => "sign_in_with_twitter"%>
        <% end %>
      </ul>
  </div>
</div>
